<!doctype html>
<html>
<head>
    <title>ZoomTools Widget</title>
    <script type='text/javascript' src='static/socket.io.js'></script>
    <script type='text/javascript'>
var socket;
window.ips = {};
window.statuses = {};
window.tok = location.pathname.split('/')[1];
function initSocket() {
    socket = io('', {path: '/' + window.tok + '/socket.io/'});
    socket.on('connect', function() {
        socket.emit('init', {'tok': window.tok});
    });
    socket.on('update', function(resp) {
        window.resp = resp;
        update();
        queryAllTask();
        initInterval();
    });
    socket.on('command_reply', function(resp) {
        console.log('command_reply:', resp);
        if (resp['action'] == 'status') {
            window.statuses[resp['ip']] = resp['response'];
            update();
        } else {
            setTimeout(function() { run(resp['ip'], 'status'); }, 1000);
        }
    })
}

function renderHTML(tplId, dict) {
    var tpl = document.querySelector("script#" + tplId);
    var html = tpl.innerHTML;
    for (var key in dict) {
        html = html.replace(new RegExp("\\{" + key + "\\}", "g"), dict[key] || '');
    }
    return html;
}

function update() {
    var resp = window.resp;
    console.log(JSON.stringify(resp));
    var html = "";
    var c = document.getElementById('container');
    var i = 0;
    for (var ip in resp["ips"]) {
        i++;
        var name = resp["ips"][ip]["name"];
        if (!name) name = ip;
        var micStatus, vidStatus, micShort, vidShort, suffix;
        var containerStatus = "Running";
        if (window.statuses[ip]) {
            var st = window.statuses[ip].split(",");
            micStatus = st[0].trim();
            if (micStatus == "Audio on") {
                micShort = "ON";
            } else if (micStatus == "Audio off") {
                micShort = "OFF";
            } else if (micStatus == "NotRunning") {
                suffix = " (Not running)";
                containerStatus = "NotRunning";
            }
            vidStatus = st[1].trim();
            if (vidStatus == "Video on") {
                vidShort = "ON";
            } else if (vidStatus == "Video off") {
                vidShort = "OFF";
            } else if (micStatus == "NotRunning") {
                suffix = " (Not running)";
                containerStatus = "NotRunning";
            }
        }
        var data = {"ip": ip, "name": name, "suffix": suffix, "micStatus": micStatus, "vidStatus": vidStatus, "micShort": micShort, "vidShort": vidShort, "containerStatus": containerStatus};
        console.log("render:", data);
        html += renderHTML("ip-template", data);
        if (containerStatus == "NotRunning") {
            document.getElementById('iframe').style.display = '';
        } else {
            document.getElementById('iframe').style.display = 'none';
        }
    }
    if (i == 0) {
        window.statuses = {};
        renderEmpty(true);
    } else {
        renderEmpty(false);
    }
    c.innerHTML = html;
}

function renderEmpty(disp) {
    var s = location.search;
    if (s.indexOf('iframe=') != -1) {
        var ifr = s.split('iframe=')[1];
        var i = document.getElementById('iframe');
        i.style.display = disp ? '' : 'none';
        if (disp && i.src != unescape(ifr)) {
            i.src = unescape(ifr);
        }
    }
}

var queryInterval;
function initInterval() {
    queryInterval = setInterval(queryAllTask, 10 * 1000);
}

function queryAllTask() {
    if (!window.resp) return;
    for (var ip in window.resp["ips"]) {
        run(ip, 'status');
    }
}

function run(ip, action) {
    socket.emit('command', {'ip': ip, 'action': action, 'tok': window.tok});
}

function toggle(ip, fmt) {
    run(ip, fmt+'/toggle');
}

window.onload = initSocket;
    </script>
    <style>
body {
    background: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

h3 {
    margin: 20px;
}

.mic, .vid {
    font-size: 35px;
    width: 150px;
    height: 75px;
}

.is-ON {
    background: green;
}

.is-OFF {
    background: red;
}

.container-NotRunning {
    display: none;
}

#iframe {
    width: 100vw;
    height: 100vh;
    background: none;
    margin: 0;
}
    </style>
    <script type='text/template' id='ip-template'>
<div>
    <h3 title="{ip}">{name}{suffix}</h3>
    <div style='container-{containerStatus}'>
    <center>
        <button class='mic {micStatus} is-{micShort}' onclick="toggle('{ip}', 'audio')">🎙️ {micShort}</button>
        <button class='vid {vidStatus} is-{vidShort}' onclick="toggle('{ip}', 'video')">📹 {vidShort}</button>
    </center>
    </div>
</div>
    </script>
</head>
<body>
    <div id="container"></div>
    <iframe id="iframe" src="about:blank" allowtransparency=true scrolling=no></iframe>
</body>
</html>